{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block buscador %}
{% endblock  %}
{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="page-header"><h2>Recuperar contraseña</h2></div>
            {% if messages %}
                {% for message in messages %}
                    {% if 'success' in message.tags %}
                        <div class="alert alert-success">
                                {{ message }}
                        </div>
                    {%else%}
                        <div class="alert alert-danger">
                                {{ message }}
                        </div>
                    {%endif%}
                {% endfor %}
            {% endif %}

            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label" for="username">Email</label>
                    <input type="text" id="email" name="email" class="form-control" value="">
                </div>
                <span>
                <button type="submit" class="btn btn-primary">Recuperar</button>
                </span>
            </form>
        </div>
    </div>
{% endblock content %}